<div class="container">
  <p class="text-end"><a href="<%= sites_path %>">Main Dashboard</a> | <a href="<%= logout_path %>">Logout</a></p>
  <% table_layout.each do |layout| %>
    <div class="row">
      <% layout.each do |table_no| %>
        <%= render 'guests/table', table_no: table_no %>
      <% end %>
    </div>
  <% end %>
  <h4>Guests without a table:</h4>
  <table class="table border m-3">
    <tbody>
    <% Guest.coming.where(table: nil).each do |guest| %>
      <tr>
        <td>
          <form method="post" action="assign_table">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag :guest_id, guest.id %>
            <%= select_tag :table, options_for_select(assign_tables, guest.table), class: 'form-select form-select-sm', onchange: 'this.form.submit()' %>
          </form>
        </td>
        <td><%= guest.first_name %></td>
        <td><%= guest.last_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>