<%= form_with url: guests_path, id: 'guests' do |form| %>
  <%= form.hidden_field :guests_data, value: guests_data %>
<% end %>

<div id="guests-summary" class="row text-center border mb-3 p-3">
  <div class="col">
    <span class="fs-1"><%= Guest.count %></span>
    <div class="small">Invited</div>
  </div>
  <div class="col">
    <span class="fs-1"><%= Guest.coming.count %></span>
    <div class="small">Coming</div>
  </div>
  <div class="col">
    <span class="fs-1"><%= Guest.not_coming.count %></span>
    <div class="small">Not Coming</div>
  </div>
  <div class="col">
    <span class="fs-1"><%= Guest.no_response.count %></span>
    <div class="small">No Response</div>
  </div>
</div>

<div id="guests-table" class="row">
  <div class="col">
    <%= select_tag :group_filter, options_for_select(filter_groups), class: 'form-select form-select-sm', onchange: 'filterByGroup()' %>
  </div>
  <div class="col">
    <%= select_tag :status_filter, options_for_select(filter_status), class: 'form-select form-select-sm', onchange: 'filterByStatus()' %>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary btn-sm float-end" data-bs-toggle="modal" data-bs-target="#new_guest_form">Add Guests</button>
  </div>
  <table id="guest_list" class="table table-hover"></table>
</div>

<!-- Modal -->
<div id="new_guest_form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Guest</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <%= select_tag :group, options_for_select(select_groups), class: 'form-select' %>
        </div>
        <div class="row mb-2">
          <div class="col">
            <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: "First Name", id: 'new-guest-name' %>
          </div>
          <div class="col">
            <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: "Last Name" %>
          </div>
        </div>
        <div id="additional-guests" class="mb-2"></div>
        <%= button_tag 'Add plus one', class: 'btn btn-dark add btn-sm', type: :button, onclick: 'additionalGuest()' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addRow()">Add to guest list</button>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'guests' %>
