<div class="row">
  <div class="row text-center border mb-3 p-3">
    <div class="col">
      <div class="small">Displaying...</div>
      <span class="fs-2"><%= guest_collection.count %> of <%= Guest.count %> Guests</span>
    </div>
  </div>

  <form method="get" action="/">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>
          Table #
          <%= select_tag :table_filter, options_for_select(filter_tables, params[:table_filter]), class: 'form-select form-select-sm', onchange: 'this.form.submit()' %>
        </th>
        <th>
          Name
          <%= text_field_tag :name_filter, params[:name_filter], class: 'form-control form-control-sm', placeholder: 'Filter by name', onchange: 'this.form.submit()' %>
        </th>
        <th>
          Group
          <%= select_tag :group_filter, options_for_select(filter_groups, params[:group_filter]), class: 'form-select form-select-sm', onchange: 'this.form.submit()' %>
        </th>
        <th>
          RSVP
          <%= select_tag :rsvp_filter, options_for_select(filter_status, params[:rsvp_filter]), class: 'form-select form-select-sm', onchange: 'this.form.submit()' %>
        </th>
        <th>
          Welcome Party
          <%= select_tag :welcome_filter, options_for_select(filter_status, params[:welcome_filter]), class: 'form-select form-select-sm', onchange: 'this.form.submit()' %>
        </th>
        <th>
          Dinner
          <%= select_tag :dinner_filter, options_for_select(filter_dinner, params[:dinner_filter]), class: 'form-select form-select-sm', onchange: 'this.form.submit()' %>
        </th>
      </tr>
      </thead>
    </table>
  </form>
    <table class="table table-hover">
      <tbody>
      <% guest_collection.each do |guest| %>
        <tr class="guest align-middle <%= guest.parent_id? ? 'text-muted' : '' %>">
          <td>
            <form method="post" action="assign_table">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= hidden_field_tag :guest_id, guest.id %>
              <%= select_tag :table, options_for_select(assign_tables, guest.table), class: 'form-select form-select-sm', onchange: 'this.form.submit()' %>
            </form>
          </td>
          <td><%= guest.first_name %> <%= guest.last_name %></td>
          <td class="row-group small">
            <% if guest.parent_id? %>
            <span class="small">(Guest of <%= guest.parent.full_name %>)</span>
            <% else %>
              <%= guest.group %>
            <% end%>
          </td>
          <td class="row-status"><%= humanize guest.status %></td>
          <td class="row-status"><%= humanize guest.welcome_party %></td>
          <td class="row-status"><%= guest.meal_choice&.capitalize || 'No Response' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
