<div class="container text-center py-5">
  <!-- Welcome text -->
  <h1>Angela <small class="fs-4">&</small> Ryan</h1>
  <p class="fs-3">
    <i class="bi bi-dash-lg fs-3 align-text-top"></i>
    Are Getting Married!
    <i class="bi bi-dash-lg fs-3 align-text-top"></i>
  </p>

  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav collapse navbar-collapse justify-content-center" id="navbarSupportedContent" role="tablist">
      <ul class="navbar-nav mr-auto p-2">
        <li class="nav-item" role="presentation">
          <a class="nav-link fs-3 active" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="settings" aria-selected="true">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link fs-3" data-bs-toggle="tab" href="#nav-venue" role="tab" aria-controls="settings" aria-selected="false">Venue</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link fs-3" data-bs-toggle="tab" href="#nav-travel" role="tab" aria-controls="settings" aria-selected="false">Travel</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link fs-3" data-bs-toggle="tab" href="#nav-todo" role="tab" aria-controls="settings" aria-selected="false">Things to do</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link fs-3" target="_blank" href="https://www.zola.com/registry/aqrt">Registry</a>
        </li>
        <li class="nav-item align-self-center" role="presentation">
          <button class="btn btn-sm btn-danger fs-3 m-2" data-bs-toggle="tab" data-bs-target="#nav-rsvp" role="tab" aria-controls="settings" aria-selected="false">RSVP</button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="home-tab">
      <%= render 'sites/main/home' %>
    </div>
    <div class="tab-pane fade" id="nav-venue" role="tabpanel" aria-labelledby="venue-tab">
      <%= render 'sites/main/venue' %>
    </div>
    <div class="tab-pane fade" id="nav-travel" role="tabpanel" aria-labelledby="travel-tab">
      <%= render 'sites/main/travel' %>
    </div>
    <div class="tab-pane fade" id="nav-todo" role="tabpanel" aria-labelledby="todo-tab">
      <%= render 'sites/main/todo' %>
    </div>
    <div class="tab-pane fade" id="nav-rsvp" role="tabpanel" aria-labelledby="rsvp-tab">
      <%= render 'sites/main/rsvp' %>
    </div>
  </div>


  <hr class="m-5"/>
  <p>Made with <i class="bi bi-heart-fill text-danger"></i> in Philadelphia</p>
</div>

<%= javascript_include_tag 'rsvp' %>
